<div class="container">
  <%= form_with(model: @post, local: true) do |form| %>
    <div class="form-field">
      <%= form.text_field :title, placeholder: "タイトル" %>
    </div>
    <div class="form-field">
      <%= form.text_area :content, placeholder: "質問内容" %>
    </div>
    <div class="form-field">
      <%= form.text_field :author_name, placeholder: "投稿者名" %>
    </div>
    <div class="form-actions">
      <%= form.submit "POST" %>
    </div>
  <% end %>
</div>






