<!DOCTYPE html>
<html>
  <head>
    <title>Techchat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .header-title a {
        color: white;
        text-decoration: none; /* リンクの下線を削除 */
      }
    </style>
  </head>

  <body>
   <header class="header-container">
  <h1 class="header-title">
        <%= link_to 'TechChat', root_path %>
      </h1>
  <%= link_to '質問する', new_post_path, class: 'question-button' %>
</header>

    <%= yield %>
  </body>
</html>
